.navbar {
    display: flex;
    background-color: whitesmoke;
    height: 100px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    box-sizing: border-box;
}

.navbar span {
    display: flex;
    align-items: center;
    color: #444;
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 700;
    margin-left: 120px;
}

.navbar span img {
    height: 20px;
    margin-right: 10px;
}

.navbar ul {
    list-style: none;
    padding: 0;
    margin-right: 70px;
    display: flex;
    gap: 0px;
}

.navbar ul li a {
    color: #444;
    text-decoration: none;
    font-size: medium;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-right: 70px;
    padding: 0px;
    font-weight: bold;
}

* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

.heading {
    color: #9c9ca6;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 50px;
    line-height: 2em;
    margin-top: 30px;
    letter-spacing: 0.01em;
    margin-left: 120px;
}

.contact {
    /* background-color: #e4e4e4; */
    background-image: url(assets/bg_contacts.jpg);
    height: 400px;
    margin-bottom: 50px;
}

.contact-heading {
    display: flex;
    justify-content: center;
}

.contact-heading p {
    text-align: center;
    margin-top: 70px;
    color: #84848c;
    font-family: "Hind", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    font-style: normal;
    line-height: 1.483em;
    text-decoration: none;
    text-transform: none;
}

.contact-section {
    background-size: cover;
    padding: 60px 0;
}

.contact-details {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    text-align: center;
}

.contact-item {
    flex: 1;
    max-width: 300px;
}

.contact-item img {
    height: 50px;
    margin-bottom: 50px;
    margin-top: 70px;
}

.contact-item h3 {
    font-size: 18px;
    color: #1a2a4f;
    margin-bottom: 10px;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
}

.contact-item p {
    color: #777;
    margin: 0;
}

/* send msg section  */
.company {
    margin-bottom: 50px;
}

.send-message {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    padding: 2rem 1rem;
    background-color: #fff;
}

.send-message h2 {
    font-size: 2rem;
    color: #2a2c61;
    margin-bottom: 1.5rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.input-group {
    display: flex;
    gap: 1rem;
}

.input-group input,
.input-group textarea {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #dcdfe6;
    border-radius: 20px;
    font-size: 1rem;
}

textarea {
    resize: none;
    height: 150px;
}

.checkbox-group {
    display: flex;
    align-items: center;
    font-size: 0.875rem;
    color: #7d7d7d;
}

.checkbox-group input {
    margin-right: 0.5rem;
}

button {
    padding: 0.75rem 2rem;
    border: none;
    border-radius: 20px;
    background-color: #b1b1b1;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 1rem;
}


.footer {
    background: whitesmoke;
    color: #444;
    padding: 40px 0;
    font-family: Helvetica;
    border-top: 1px solid #bdbdbd;
}

.footer .footer_container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer .footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

.footer .footer-section {
    flex: 1;
    margin: 20px;
}

.footer .footer-section.quick-links {
    margin-right: -80px;
}

.footer .footer-section.head-office {
    margin-left: 10px;
}

.footer .footer-section.latest-posts {
    margin-top: 20px;
    margin-bottom: 10px;
}

.footer .logo-text {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.footer .footer-section h2 {
    margin-bottom: 10px;
    font-size: 1.2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.footer .footer-section ul {
    list-style: none;
    padding: 0;
}

.footer .footer-section ul li {
    margin-bottom: 10px;
}

.footer .footer-section ul li a {
    color: #444;
    text-decoration: none;
}

.footer .footer-section ul li a:hover {
    color: rgb(97, 76, 167);
}

.footer .footer-section ul li a span {
    display: block;
    font-size: 0.9rem;
    color: black;

}

.footer-bottom {
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
    font-size: 0.9rem;
}

.footer-section span {
    display: flex;
    align-items: center;
    color: #444;
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 700;
    margin-top: 0px;
}

.footer-section p {
    margin-top: 10px;
}

.footer-section span img {
    height: 20px;
    margin-right: 10px;
}

@media(max-width:1140px) {
    .navbar ul {
        margin-right: 0px;
    }
}

@media(max-width:1085px) {
    .navbar ul li a {
        font-size: 15px;
    }

    .navbar span {
        margin-left: 70px;
    }
}

@media(max-width:1020px) {
    .navbar ul li a {
        font-size: 15px;
    }

    .navbar span {
        margin-left: 70px;
    }
}

@media(max-width:940px) {
    .navbar ul li a {
        font-size: 13px;
        margin: 20px;
    }

    .navbar span {
        margin-left: 40px;
    }

    .footer .footer-content {
        display: flex;
        flex-wrap: nowrap;
    }
}


@media (max-width: 900px) {
    .footer .footer-content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        gap: 20px;
    }

    .footer .footer-section {
        margin: 0;
    }

    .footer .footer-section.about,
    .footer .footer-section.quick-links {
        grid-column: span 1;
    }

    .footer .footer-section.head-office,
    .footer .footer-section.latest-posts {
        grid-column: span 1;
    }
}

@media(max-width:785px) {
    .navbar ul li a {
        font-size: 13px;
        margin: 15px;
    }

    .navbar span {
        margin-left: 0px;
    }
}

@media(max-width:700px) {
    .navbar ul li a {
        font-size: 13px;
        margin: 10px;
    }

    .navbar span {
        margin-left: 0px;
        font-size: 20px;
    }

    .navbar span img {
        height: 15px;
    }
}

@media(max-width:600px) {
    .navbar ul li a {
        font-size: 10px;
        margin: 10px;
    }

    .navbar span {
        margin-left: 0px;
        font-size: 20px;
    }

    .navbar span img {
        height: 15px;
    }
}

@media(max-width:546px) {
    .navbar ul li a {
        font-size: 10px;
        margin: 8px;
    }

    .navbar span {
        margin-left: 0px;
        font-size: 15px;
    }

    .navbar span img {
        height: 11px;
    }
}